{% extends 'base.html' %}
{% block content %}

<h1>{{lizard.name}}'s Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ lizard.name }}</span>
        <p>Species: {{ lizard.species }}</p>
        <p>Description: {{ lizard.description|linebreaks }}</p>
        <p>Age: {{ lizard.age }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'lizards_update' lizard.id %}">Edit</a>
        <a href="{% url 'lizards_delete' lizard.id %}">Delete</a>
    </div>
</div>

{% endblock %}
